@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #3f3446, #525289, #726c91,#c6bfd2);
   
}

.container{
    padding: 2rem 0rem 0rem 0rem;
}

.content{
    margin: 5%;
    background:linear-gradient(to right, #8585ac , #c6bfd2, #dcdce7, #ffff, #ffff);
    padding: 32px 0px 32px 0px;
    box-shadow: 0 0 40px 0px #000;
    border-radius: 50px;
    
}
.sigin-col{
    padding: 48px 0px 52px 0px;
}

h3.sigin-text{
    font-style: normal;
    font-weight: 700 !important;
}


.form-control{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: #292944;
    border-style: solid !important;
    border-radius: 10px !important;
    color: #494949;
    height: auto;
    border-radius: 0;
    background-color: whitesmoke;
    background-clip: padding-box;
    box-shadow: 2px 2px 3px 0px;
}

.form-control:focus{
    color: #495057;
    background-color: whitesmoke;
    border-color:#3366BB;
    outline: 0;
    box-shadow: 0px 0px 3px 0px;
}

.btn-class{
    border-color: #525289;
    color: #525289;
}

.btn-class:hover{
    background-color: #525289;
    color: white;
}


.form-hidden{
    display: none;
}

.right-container{
    background-color: #000 !important;
}

.logo{
    width: 35px;
    height: 35px;
}



.linkRegister :focus{ 

    animation-name: siginanimation;
    animation-duration: 500ms;
    
    
}

@keyframes siginanimation{
    0% {opacity: 100%;}
    100% {opacity: 0%;}
}

.img{
    padding-top: 10%;
}