
.AdmStatii p {
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
}

.AdmStatii .edit-img {
  width: 15px;
}

.AdmStatii .StationTable {
  height: 450px !important;
  margin-left: 2% !important;
  padding: 20px 30px 20px 30px !important;
  display: block !important;
  background: linear-gradient(to left, #66628f, #b9b2c9) !important;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px #000;
}

.AdmStatii {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px !important;
}

.AdmStatii .AdmBox {
  background: linear-gradient(to top left, #8585ac, #b3acca) !important;
  width: 980px;
  height: 500px;
  padding: 0;
  justify-content: space-between;
  display: flex;
  border-radius: 30px;
  box-shadow: 0px 0px 15px 5px;
}

.AdmStatii .AdmBox .Inregistrate {
  flex: 61%;
  padding: 5%;
  justify-content: center;
  align-items: center;
}

.AdmStatii .Titlu {
  font-size: 22px !important;
  margin-bottom: 5px !important;
}

.AdmStatii Table {
  background-color: white;
  margin: 0;
  max-width: auto;
  height: 360px;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 0px #000;
  border-radius: 10px;
}
 
.AdmStatii .btn-class {
  background: linear-gradient(to right, #8585ac, #c6bfd2) !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: bold;
  width: 200px;
  border-radius: 40px;
  box-shadow: 2px 2px 10px 0px #000;
  font: bold !important;
  transition: 0.7s;
}

.AdmStatii .StationBlock {
  height: 500px !important;
  padding: 100px 49px 100px 49px !important;
  display: block !important;
}

.AdmStatii .HomePhoto {
  margin: 0 !important;
  padding-bottom: 30px !important;
}
.AdmStatii .S-C-Img {
  background: #c6bfd2;
  border-radius: 100px;
  box-shadow: 0px 4px 15px 2px #000;
}
.AdmStatii thead {
  background: #66628f;
  border-radius: 10px;
}

.AdmStatii .test{
  opacity: 0 !important;
}
