.EditareStatie {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px !important;
}

.EditareStatie .EditareStatieBox {
    background: linear-gradient(to right, #8585ac, #dbd3e6) !important;
    margin: 1% 3.5%;
    width: 80%;
    height: 500px;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 8px 0px #000;
    border-radius: 10px;

}
 
.EditareStatie .EditareStatieBox .BoxLeft {
   flex: 50%;
   padding: 5%;
}

.EditareStatie .EditareStatieBox .BoxRight {
    flex: 50%;
    padding: 5%;
    justify-content: space-between;
 }


.EditareStatie .EditareStatieBox .TitleRow {
    font-size: 25px !important;
}

.EditareStatie .EditareStatieBox .BoxRight .TableRow {
   margin-top: 60px;
   align-items: center;
}
.EditareStatie .EditareStatieBox .FormRow .Formularul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EditareStatie .EditareStatieBox .FormRow .Formularul .FormRowTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:  10% 10%;
}

.EditareStatie .EditareStatieBox .FormRow .Formularul .FormRowTop label{
    display: block;
    margin: 7px 0px 0px 0px;
}

.EditareStatie .EditareStatieBox .FormRow .Formularul .FormRowTop input{
    border-radius: 13px;
    box-shadow: 0px 1px 7px 0px #000;
    outline: none;
    padding: 0px 10px;
}

.EditareStatie .input-field{
    border-radius: 13px;
    box-shadow: 0px 1px 7px 0px #000;
    outline: none;
    padding: 0px 10px;
    width: 270px;
    
}

/* .EditareStatie .EditareStatieBox .FormRow .Formularul .FormRowTop .FormColumn {
    padding: 10% 10%;
} */
/* .EditareStatie .EditareStatieBox .FormRow .Formularul .FormRowTop .FormColumnRight {
    padding: 3% 15%;
} */

.EditareStatie .EditareStatieBox .FormRow .Formularul .SubmitButtonRow .ButonSterg {
    border-radius: 18px;
    background-color: #d4150e;
    margin-left: 15px;
    padding: 2px 20px;
    box-shadow: 0px 1px 4px 0px #000;
    transition: 0.5s;
    color: #FFFF;
}
.EditareStatie .EditareStatieBox .FormRow .Formularul .SubmitButtonRow .ButonModifica {
    border-radius: 18px;
    background-color: #66628f;
    margin-right: 15px;
    padding: 2px 20px;
    box-shadow: 0px 1px 4px 0px #000;
    transition: 0.5s;
    color: #FFFF;
}

.EditareStatie .EditareStatieBox .BoxRight .ButonRenuntaRow{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.EditareStatie .EditareStatieBox .BoxRight .ButonRenunta {
    border-radius: 18px;
    background-color: #66628f;
    margin-right: 15px;
    padding: 2px 20px;
    margin-top: 20px;
    box-shadow: 0px 1px 4px 0px #000;
    transition: 0.5s;
    color: #FFFF;
}

.EditareStatie .EditareStatieBox .BoxRight .ButonAdaugaPunct {
    border-radius: 18px;
    background-color: #66628f;
    margin-right: 15px;
    padding: 2px 20px;
    margin-top: 20px;
    box-shadow: 0px 1px 4px 0px #000;
    transition: 0.5s;
    color: #FFFF;
}

.EditareStatie .EditareStatieBox .FormRow .Formularul .SubmitButtonRow .ButonAdaug:hover {
    box-shadow: 0px 0px 7px 3px #FFFF;
    

}

.EditareStatie .EditareStatieBox .FormRow .Formularul .SubmitButtonRow .ButonRenunta:hover {
    box-shadow: 0px 0px 7px 3px #FFFF;

}

.EditareStatie .EditareStatieBox .BoxRight thead {
    background: #66628f;
    border-radius: 10px;
  }

  .EditareStatie .edit-img {
    width: 15px;
  }

.EditareStatie .scrollForTabelPlati{
    overflow: hidden;
    overflow-y: scroll;
}