@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.admin .main{
    background: linear-gradient(to right, #3f3446, #525289, #726c91);
      flex:1;
      box-shadow: 0px 10px 15px 0px #000;
      display: flex;
      flex-direction: column;
      overflow: auto;
     
      height: 100%;
}


.admin .change-forms{
    background: linear-gradient(to right, #8585ac , #c6bfd2) !important;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 25px;
}
.admin .user-name{
    width: 50%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #f5deb3;
  
}
.admin .form-in input{
    width: 92%;
    height: 40%;
    padding: 0 5px;
    font-size: 29px;
    border-radius: 13px;
    background-color: #c6bfd2;
}
.admin .form-in input:focus{
    outline: none;
}
.admin .password{
    width: 50%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #f5deb3;
}
.admin{
    align-items: stretch;
    background: linear-gradient(to right, #8585ac , #c6bfd2) !important;
    margin: auto;
    border-radius: 25px;
    height: 500px;
    width: 70%;
    top: 7%;
    position: relative;

}
.admin h2{
    top: 14%;
    text-align: center;
    position: relative;
    font-family: 'Poppins', sans-serif !important;
}
.admin label{
    color: black;
    margin: 4%;
    font-size: 24px;
    font-family: 'Poppins', sans-serif !important;
}
.admin .form-administrate input[type="submit"]{
    width: 45%;
    height: fit-content;
    margin: 15px 64px;
    font-size: 28px;
    color: black;
    background: linear-gradient(to right, #8585ac , #c6bfd2) !important;
    border-radius:10px;
    font-family: 'Poppins', sans-serif !important;
 
}
.admin .form-administrate input[type="submit"]:hover{
    box-shadow: 0px 0px 5px 5px #FFFF;
}
.admin .form-administrate{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin:auto;
}
.admin .form-in{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.admin .change{
width: 100%;
margin: auto;
}
.admin .admin-first{
    width: 100%;
    height: 100%;
    padding: 5% 2% 5% 2%;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px !important;

}
