@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body, html{
    margin: 0 !important;
    padding: 0 !important;
    background: linear-gradient(to right, #3f3446, #525289, #726c91,#c6bfd2) !important;
    
}

.register{
    
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register .block {
    width: 80%;
    height: 650px;
    background:linear-gradient(to right, #8585ac , #c6bfd2, #dcdce7, #ffff, #ffff) !important;

    padding: 32px 0px 32px 0px !important;
    box-shadow: 0 0 40px 0px #000;
    border-radius: 50px !important;
    display: flex;
}

.register .block-stanga{
    display: flex;
    height: 100%;
    width: 40%;
    align-self: center;
}

.register .block-dreapta{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    padding: 0px 32px 0px 32px;
}

.register .LinieTitlu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    font-style: normal !important;
    font-weight: 700 !important;
}

.register .logo {
    width: 35px;
    height: 35px;
}
.register .block-sus{
    height: 100%;
    width: 100%;

}

.register .coloane {
    display: flex;
    height: 80%;
    width: 100%;
}

.register .coloana1{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 20px;
}

.register .form-group-bottom{
    width: 100%;
    display: flex;
    align-items: center;
}

.register .error-response{
    width: 100%;
    height: 100%;
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;
    color: red;
}

.register .form-control{
    display: block;
    width: 100%;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    border-color: #292944;
    border-style: solid !important;
    border-radius: 10px !important;
    color: #494949;
    height: auto;
    border-radius: 0;
    background-color: whitesmoke;
    background-clip: padding-box;
    box-shadow: 2px 2px 3px 0px;
}


.register .form-control:focus{
    color: #495057;
    background-color: whitesmoke;
    border-color:#3366BB;
    outline: 0;
    box-shadow: 0px 0px 3px 0px;
}

.register p{
    text-align: left;
}

.register .coloana2 {
    display: flex;
    flex-direction: column;
    width: 50%;

    margin-left: 20px;
}

.register .btn-class{
    border-color: #525289 !important;
    color: #525289 !important;
    width: 30%;
    transition: 0.5s;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register .btn-class:hover{
    background-color: #525289 !important;
    color: white !important;
}

